* {
  box-sizing: border-box;
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shizuru', cursive;
  background-image: url("./images/jungle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav--bar {
position: fixed;
display: block;
margin: 0 auto;
width: 100%;
top: 0%;
padding: 0;
left: 0;
z-index: -1;
}

.nav--bar h3{
  text-align: right;
  margin-right: 8px;
  font-family: 'Shizuru', cursive;
  margin-top: 0px;
  /* margin-bottom: 5px; */
  font-size: 3rem;
  background: linear-gradient(to left, #ef5350, #f48fb1,#eeff41 , #f9a825, #ff5722, #eeff41, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.animal--grid {
  position: relative;
  float:left;
  align-items: center;
  text-align: center;
  padding: 9px;
  
  
}

.mandrill{
  margin-top: 360%;
  margin-left: 35%;
  height: 125px;
  width: 70px;
} 
.flamigo{
  margin-top: 400px;
  width: 175px;
  height: 40px;
  margin-left: -25px;
}
.macaw{
  margin-top: 15px;
  margin-left: -135px;
  height: 55px;
  width: 85px;
}

.zebra{
  margin-top: 280px;
  width: 140px;
  height: 70px;
  margin-left: -85px;
}
.aligator{
  margin-top: 560px;
  margin-left: -100px;
  height: 30px;
  width: 150px;
}
.hissing{
  margin-top: 590px;
  width: 100px;
  height: 55px;
}
.meerkat{
  margin-top: 365px;
  margin-left: -440px;
  height: 115px;
  width: 45px;
}
.elephant{
  margin-top: 140px;
  margin-left: -350px;
  height: 130px;
  width: 280px;
}
.gorilla {
  margin-top: 285px;
  margin-left: -295px;
  height: 160px;
  width: 150px;
}
.snake{
  margin-top: 25px;
  height: 75px;
  width: 95px;
  margin-left: -25px;
}
.lion{
  margin-top: 290px;
  height: 155px;
  width: 110px;
  margin-left: -84px;
}
.babylion{
  margin-top: 460px;
  margin-left: -50px;
  height: 110px;
  width: 60px;
}
.tiger{
  margin-top: 365px;
  width: 100px;
  height: 80px;
  margin-left: -25px;
}
.giraffe{
  margin-top: 75px;
  height: 275px;
  margin-left: -30px;
  width: 50px;
}
.boar{
  margin-top: 505px;
  height: 150px;
  margin-left: -85px;
  width: 120px;
}
.rino{
  margin-top: 289px;
  width: 143px;
  margin-left: -35px;
  height: 165px;
}
.macaw2{
  margin-top: 140px;
  height: 100px;
  width: 50px;
}

.mandrill,
.zebra,
.flamigo,
.aligator,
.boar,
.giraffe,
.gorilla,
.hissing,
.lion,
.macaw,
.macaw2,
.meerkat,
.rino,
.snake,
.tiger,
.babylion,
.elephant{
  background-color: transparent;
  position: relative;
  cursor: pointer;
  
}
